@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(156 163 175);
}

::selection {
  background-color: #fff !important;
  color: #000 !important;
}

#root,
body,
html {
  min-width: 100%;
  min-height: 100%;
}
